flask==3.0.3
flask-cors==4.0.1
flask-jwt-extended==4.6.0
flask-sqlalchemy==3.1.1
psycopg2-binary==2.9.9
opencv-python-headless==4.10.0.84
numpy<2
pillow
tensorflow==2.16.2
gunicorn
jupyter
matplotlib
scikit-learn
